<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Dev-Dex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div class="cloud cloud-1"></div>
    <div class="cloud cloud-2"></div>
    <div class="cloud cloud-3"></div>
    <div class="cloud cloud-4"></div>
    <div class="content-wrapper">
      <ion-img src="assets/mymelody.gif" alt="Início" class="pokeball-hero"></ion-img>
      <h1>Olá, seja bem-vindo!</h1>
      <p>Use as abas abaixo para acessar Meu Perfil e a Pokédex.</p>
      <!-- Botões removidos conforme solicitado: navegação via tabs -->
    </div>
  </div>
  </ion-content>