<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/apresentacao"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="title-center"
      ><ion-icon
        name="person-circle-outline"
        style="vertical-align: middle; margin-right: 6px"
      ></ion-icon
      >Perfil</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div class="cloud cloud-1"></div>
    <div class="cloud cloud-2"></div>
    <div class="cloud cloud-3"></div>
    <div class="cloud cloud-4"></div>
    <ion-card>
      <div class="profile-pic-container">
        <ion-img src="assets/foto.jpg" alt="Minha Foto"></ion-img>
      </div>

      <ion-card-header>
        <ion-card-title>Gabriela Henrique dos Santos</ion-card-title>
        <ion-card-subtitle>
          <p><strong>Matrícula:</strong> 24105548</p>
          <p><strong>Unidade:</strong> UNISUAM-Campo Grande</p>
          <p><strong>Horário:</strong> 08:00 - 12:00</p>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>
          Olá! Sou estudante de Análise e Desenvolvimento de Sistemas na
          Unisuam. Embora esteja no período de mobile, a área que eu realmente
          me interesso é a de Engenharia de Dados, e estou sempre aprofundando
          meus conhecimentos em Python, SQL e tecnologias de nuvem como AWS e
          Google Cloud.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
